body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.aspect-vbox>.dosbox-container>canvas {
    height: 100%;
    width: auto;
}

.aspect-vbox>.dosbox-container {
    height: 100%;
    width: 100%;
}

.stretch-vbox>.dosbox-container>canvas {
    height: 100%;
    width: 100%;
}

.stretch-vbox>.dosbox-container {
    height: 100%;
    width: 100%;
}